{% include "header.html" %}

<div class="ms-auto">
    <a href="{{ url_for('logout') }}" class="me-3">Log Out</a>
</div>

<div class="container my-auto">
    <div class="row">
        {% for item in items %}
        <div class="col">
            {{ item.name }}
            <img src="{{ url_for('static', filename='img/' + item.image_filename) }}" class="img-thumbnail"
                 alt="T-shirt with a knight chess piece and the phrase 'Get Forked'">
            ${{ '%0.2f' % item.price }}
        </div>
        {% endfor %}
    </div>
</div>

{% include "footer.html" %}
